.sidebar {
  /* background-color: #f4f4f4; */
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.sidebar input[type="text"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  box-sizing: border-box;
}

.sidebar-section {
  margin-bottom: 20px;
}

.sidebar-section h2 {
  margin-bottom: 10px;
  text-align: left; 
  font-size: 25px; 
  color: #333; 
  /* border: 1px solid red; */
  font-weight: bolder;

}

.sidebar ul {
  list-style-type: none;
  padding: 0;
  /* border: 1px solid red; */

}

.sidebar ul li {
  cursor: pointer;
  padding: 10px;
  border-radius: 5px;
  transition: background-color 0.3s ease;
  text-align: left; /* Align the list items to the left */
  

}

.headLi{
  /* border: 1px solid red; */
  font-weight: bold;

}

.sidebar ul li:hover {
  background-color: #e0e0e0;
}

.sidebar ul ul {
  margin-top: 10px;
}

@media screen and (max-width: 768px) {
  .sidebar {
    width: 100%; /* Make the sidebar full width on small screens */
  }
}

@media screen and (max-width: 576px) {
  .sidebar ul li {
    padding: 8px; /* Reduce padding for smaller screens */
  }
}
