.mainContainer {
    position: relative;
  }
  
  .video-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* opacity: 0.5; */
  }
  
  .coroslImgtxt {
    display: grid;
    grid-template-columns: 1fr 1fr; /* Two columns for image and text */
    gap: 10px;
  }
  
  .image-container {
    position: relative; /* Ensure image stays on top of the video */
    z-index: 1; /* Position above the video */
    margin-top: auto;
    margin-bottom: auto;
    padding: 5%;
    border-radius: 50px;
  }
  
  .myimage {
    width: 50%;
    border-width: 2px; /* Adjust border width */
    border-style: solid;
    border-image: linear-gradient(#7AD7F0, #92DFF3, #B7E9F7, #DBF3FA, #F5FCFF) 30;
    animation: neonBorder 2s linear infinite alternate; /* Apply neon animation */
  }
  
  .text-container {
      position: relative;
      /* border: 10px solid #FFEDED; */
      width: 50%;
      padding: 2%;
      margin: auto;
      margin-left: 20px;
      border-radius: 50px 0px 50px 0px;
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
      background-image: linear-gradient(to top, #D0F6FF 0%, #FFEDED 48%, #FFFFE7 100%);

    
    }
  
  .text-container p {
    padding: 5%;
  }
  
  @keyframes neonBorder {
    0% {
      border-image: linear-gradient(#7AD7F0, #92DFF3, #B7E9F7, #DBF3FA, #F5FCFF) 30;
    }
    100% {
      border-image: linear-gradient(#7AD7F0, #92DFF3, #B7E9F7, #DBF3FA, #F5FCFF) 30;
      box-shadow: 0 0 5px #00FFFF, 0 0 10px #00FFFF, 0 0 15px #00FFFF, 0 0 20px #00FFFF, 0 0 35px #00FFFF, 0 0 40px #00FFFF, 0 0 50px #00FFFF, 0 0 75px #00FFFF; /* Adjusted neon effect */
    }
  }

.button-78 {
  align-items: center;
  appearance: none;
  background-clip: padding-box;
  background-color: initial;
  background-image: none;
  border-style: none;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  flex-direction: row;
  flex-shrink: 0;
  font-family: Eina01,sans-serif;
  font-size: 16px;
  font-weight: 800;
  justify-content: center;
  line-height: 24px;
  margin: 0;
  min-height: 64px;
  outline: none;
  overflow: visible;
  padding: 19px 26px;
  pointer-events: auto;
  position: relative;
  text-align: center;
  text-decoration: none;
  text-transform: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  width: auto;
  word-break: keep-all;
  z-index: 0;
}



.button-78:before,
.button-78:after {
  border-radius: 80px;
}

.button-78:before {
  background-image: linear-gradient(92.83deg, #ff7426 0, #f93a13 100%);
  content: "";
  display: block;
  height: 100%;
  left: 0;
  overflow: hidden;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: -2;
}

.button-78:after {
  background-color: initial;
  background-image: linear-gradient(#541a0f 0, #0c0d0d 100%);
  bottom: 4px;
  content: "";
  display: block;
  left: 4px;
  overflow: hidden;
  position: absolute;
  right: 4px;
  top: 4px;
  transition: all 100ms ease-out;
  z-index: -1;
}

.button-78:hover:not(:disabled):before {
  background: linear-gradient(92.83deg, rgb(255, 116, 38) 0%, rgb(249, 58, 19) 100%);
}

.button-78:hover:not(:disabled):after {
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  transition-timing-function: ease-in;
  opacity: 0;
}

.button-78:active:not(:disabled) {
  color: #ccc;
}

.button-78:active:not(:disabled):before {
  background-image: linear-gradient(0deg, rgba(0, 0, 0, .2), rgba(0, 0, 0, .2)), linear-gradient(92.83deg, #ff7426 0, #f93a13 100%);
}

.button-78:active:not(:disabled):after {
  background-image: linear-gradient(#541a0f 0, #0c0d0d 100%);
  bottom: 4px;
  left: 4px;
  right: 4px;
  top: 4px;
}

.button-78:disabled {
  cursor: default;
  opacity: .24;
}


.animated-text {
  font-size: 36px;
  text-align: center;
  animation: textAnimations 2s linear infinite;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Adding shadow */
 
}

@keyframes textAnimations {
  0% {
    color: #ff0000; /* Starting color */
    transform: translateY(0px); /* Starting position */
  }
  50% {
    color: #ffa900; /* Middle color */
    transform: translateY(-10px); /* Middle position */
  }
  100% {
    color: #ffa900; /* Ending color */
    transform: translateY(0px); /* Ending position */
  }
}



  


  .blogCont{
    /* border: 1px solid red; */
    margin: auto;
    padding: 1%;
  }
  


/* CSS */
.button-92 {
  --c: #fff;
  /* text color */
  background: linear-gradient(90deg, #0000 33%, #fff5, #0000 67%) var(--_p,100%)/300% no-repeat,
    #004dff;
  /* background color */
  color: #0000;
  border: none;
  transform: perspective(500px) rotateY(calc(20deg*var(--_i,-1)));
  text-shadow: calc(var(--_i,-1)* 0.08em) -.01em 0   var(--c),
    calc(var(--_i,-1)*-0.08em)  .01em 2px #0004;
  outline-offset: .1em;
  transition: 0.3s;
}

.button-92:hover,
.button-92:focus-visible {
  --_p: 0%;
  --_i: 1;
}

.button-92:active {
  text-shadow: none;
  color: var(--c);
  box-shadow: inset 0 0 9e9q #0005;
  transition: 0s;
}

.button-92 {
  font-weight: bold;
  font-size: 2rem;
  margin: 0;
  cursor: pointer;
  padding: .1em .3em;
}

  

/* For medium screens */
@media screen and (max-width: 992px) {
    .coroslImgtxt {
      grid-template-columns: 1fr; /* Display one card per row */
    }
  
    .image-container,
    .text-container {
      width: 100%; /* Take full width */
      margin-left: 0; /* Remove left margin */
      margin-right: 0; /* Remove right margin */
      padding: 5%;
      margin-bottom: 5%;
    }
  
    .myimage {
      width: 60%;
    }
  
    .text-container {
      width: 70%;
      margin: auto; /* Center the text container */
      margin-bottom: 6%;
    }

    .blogCont{
      /* border: 1px solid red; */
      margin: auto;
      padding: 1%;
    }

    .button-78 {
      padding: 19px 32px;
    }
  

    
  }
  
  /* For small screens */
  @media screen and (max-width: 375px) {
    .coroslImgtxt {
        grid-template-columns: 1fr; /* Display one card per row */
      }
    
      .image-container,
      .text-container {
        width: 100%; /* Take full width */
        margin-left: 0; /* Remove left margin */
        margin-right: 0; /* Remove right margin */
        padding: 5%;
        margin-bottom: 10%;
      }
    
      .myimage {
        width: 60%;
      }
    
      .text-container {
        width: 90%;
        margin: auto; /* Center the text container */
        margin-bottom: 10%;
        /* border: 100px solid red !important; */
      }

      .blogCont{
        /* border: 1px solid red; */
        margin: auto;
        padding: 1%;
      }

      .button-78 {
        padding: 19px 32px;
      }
      
    
  }
  


