.footer{
    /* border: 1px solid red; */
    width: 100%;
    /* background-color: black; */
    background-image: linear-gradient(to right, #010a38, #170c21, #2d0e03);
    color: white;
    padding-top: 2%;
    padding-bottom: 2%;
    /* border-radius: 60px 0px 0px 0px; */
    margin-top: 3%;
}

.footSeconf{
    display: flex;
    width: 100%;
    margin: auto;
    padding: 1%;
    /* border: 1px solid red; */
    justify-content: space-around;
    cursor: pointer;
}

.footIcon{
    /* border: 1px solid red; */
    width: 40%;
    margin: auto;
    justify-content: space-around;
    padding: 1%;
    font-size: 20px;
    display: flex;
}

.CreatedBy{
    /* border: 1px solid red; */
    color: white;
    margin: auto;
    margin-top: auto;
}




@media only screen and (max-width: 756px){

    .footer{
        /* border: 1px solid red; */
        width: 100%;
        /* background-color: black; */
        background-image: linear-gradient(to right, #010a38, #170c21, #2d0e03);
        color: white;
        padding-top: 2%;
        padding-bottom: 2%;
        /* border-radius: 60px 0px 0px 0px; */
        margin-top: 3%;
    }
    
    .footSeconf{
        display: flex;
        width: 100%;
        margin: auto;
        /* border: 1px solid red; */
        justify-content: space-around;
        cursor: pointer;
    }
    .footIcon{
        /* border: 1px solid red; */
        width: 40%;
        margin: auto;
        justify-content: space-around;
        padding: 1%;
        font-size: 20px;
        display: flex;
    }
    
    .CreatedBy{
        /* border: 1px solid red; */
        color: white;
        margin: auto;
        margin-top: auto;
    }

}

@media only screen and (max-width: 375px) {

    .footer{
        /* border: 1px solid red; */
        width: 100%;
        /* background-color: black; */
        background-image: linear-gradient(to right, #010a38, #170c21, #2d0e03);
        color: white;
        padding-top: 2%;
        padding-bottom: 2%;
        /* border-radius: 60px 0px 0px 0px; */
        margin-top: 3%;
    }
    
    .footSeconf{
        display: flex;
        width: 100%;
        margin: auto;
        border: 1px solid red;
        justify-content: space-around;
        cursor: pointer;
    }
    
    .footIcon{
        /* border: 1px solid red; */
        width: 40%;
        margin: auto;
        justify-content: space-around;
        padding: 1%;
        font-size: 20px;
        display: flex;
    }
    
    .CreatedBy{
        /* border: 1px solid red; */
        color: white;
        margin: auto;
        margin-top: auto;
    }

}